USE [master]
GO
/****** Object:  Database [HotelMaterialDB]    Script Date: 7/11/2026 6:51:04 PM ******/
CREATE DATABASE [HotelMaterialDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelMaterialDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.THUYDIEM\MSSQL\DATA\HotelMaterialDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelMaterialDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.THUYDIEM\MSSQL\DATA\HotelMaterialDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelMaterialDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelMaterialDB]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_GDN_Detail_List]    Script Date: 7/11/2026 6:51:04 PM ******/
CREATE TYPE [dbo].[Type_GDN_Detail_List] AS TABLE(
	[MaterialId] [int] NOT NULL,
	[Quantity] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_GRN_Detail_List]    Script Date: 7/11/2026 6:51:04 PM ******/
CREATE TYPE [dbo].[Type_GRN_Detail_List] AS TABLE(
	[MaterialId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GDN_Details]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GDN_Details](
	[GDN_DetailId] [int] IDENTITY(1,1) NOT NULL,
	[GDN_Id] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GDN_DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoodsDeliveryNotes]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoodsDeliveryNotes](
	[GDN_Id] [int] IDENTITY(1,1) NOT NULL,
	[GDN_Code] [varchar](50) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DeliveryDate] [datetime] NULL DEFAULT (getdate()),
	[Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GDN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GoodsReceiptNotes]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoodsReceiptNotes](
	[GRN_Id] [int] IDENTITY(1,1) NOT NULL,
	[GRN_Code] [varchar](50) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceivedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[GRN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRN_Details]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRN_Details](
	[GRN_DetailId] [int] IDENTITY(1,1) NOT NULL,
	[GRN_Id] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GRN_DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaintenanceReceipts]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceReceipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[RequestId] [int] NULL,
	[MaintenanceType] [nvarchar](50) NOT NULL,
	[PerformedDate] [datetime] NULL DEFAULT (getdate()),
	[Cost] [decimal](18, 2) NULL DEFAULT ((0)),
	[TechnicianName] [nvarchar](100) NOT NULL,
	[ResultStatus] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaintenanceRequests]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NULL DEFAULT (N'Chờ xử lý'),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaintenanceSchedules]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceSchedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[LastMaintenanceDate] [datetime] NULL,
	[NextMaintenanceDate] [datetime] NOT NULL,
	[CycleDays] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Materials]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialCode] [varchar](50) NOT NULL,
	[MaterialName] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](30) NOT NULL,
	[StockQuantity] [int] NULL DEFAULT ((0)),
	[MinRequiredQuantity] [int] NULL DEFAULT ((0)),
	[CategoryId] [int] NOT NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stocktake_Details]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocktake_Details](
	[StocktakeDetailId] [int] IDENTITY(1,1) NOT NULL,
	[StocktakeId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[SystemQuantity] [int] NOT NULL,
	[ActualQuantity] [int] NOT NULL,
	[Discrepancy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StocktakeDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StocktakeNotes]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StocktakeNotes](
	[StocktakeId] [int] IDENTITY(1,1) NOT NULL,
	[StocktakeCode] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[StocktakeDate] [datetime] NULL DEFAULT (getdate()),
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StocktakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[System_Alerts]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Alerts](
	[AlertId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[AlertType] [nvarchar](50) NOT NULL,
	[AlertMessage] [nvarchar](255) NOT NULL,
	[IsResolved] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[AlertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [IsDeleted]) VALUES (1, N'Đồ tiêu hao (Amenities)', 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [IsDeleted]) VALUES (2, N'Thiết bị điện tử', 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [IsDeleted]) VALUES (3, N'Vải vóc (Linen)', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'Bộ phận Buồng phòng (Housekeeping)')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (3, N'Bộ phận Kỹ thuật (Engineering)')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (4, N'Bộ phận Lễ tân (Front Office)')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[GDN_Details] ON 

INSERT [dbo].[GDN_Details] ([GDN_DetailId], [GDN_Id], [MaterialId], [Quantity]) VALUES (52, 5, 7, 137)
INSERT [dbo].[GDN_Details] ([GDN_DetailId], [GDN_Id], [MaterialId], [Quantity]) VALUES (53, 6, 7, 82)
INSERT [dbo].[GDN_Details] ([GDN_DetailId], [GDN_Id], [MaterialId], [Quantity]) VALUES (54, 5, 8, 70)
SET IDENTITY_INSERT [dbo].[GDN_Details] OFF
SET IDENTITY_INSERT [dbo].[GoodsDeliveryNotes] ON 

INSERT [dbo].[GoodsDeliveryNotes] ([GDN_Id], [GDN_Code], [DepartmentId], [UserId], [DeliveryDate], [Reason]) VALUES (5, N'GDN-20260505-2001', 1, 1, CAST(N'2026-05-05 16:10:25.000' AS DateTime), N'Cấp phát buồng phòng định kỳ tháng 4')
INSERT [dbo].[GoodsDeliveryNotes] ([GDN_Id], [GDN_Code], [DepartmentId], [UserId], [DeliveryDate], [Reason]) VALUES (6, N'GDN-20260530-2002', 3, 1, CAST(N'2026-05-30 16:10:25.000' AS DateTime), N'Cấp phát cho sự kiện F&B tại sảnh chính')
INSERT [dbo].[GoodsDeliveryNotes] ([GDN_Id], [GDN_Code], [DepartmentId], [UserId], [DeliveryDate], [Reason]) VALUES (7, N'GDN-20260622-2003', 4, 1, CAST(N'2026-06-22 16:10:25.000' AS DateTime), N'Bảo trì, thay thế định kỳ thiết bị điện khu B')
SET IDENTITY_INSERT [dbo].[GoodsDeliveryNotes] OFF
SET IDENTITY_INSERT [dbo].[GoodsReceiptNotes] ON 

INSERT [dbo].[GoodsReceiptNotes] ([GRN_Id], [GRN_Code], [SupplierId], [UserId], [ReceivedDate]) VALUES (14, N'GRN-20260326-1001', 1, 1, CAST(N'2026-03-26 16:10:25.000' AS DateTime))
INSERT [dbo].[GoodsReceiptNotes] ([GRN_Id], [GRN_Code], [SupplierId], [UserId], [ReceivedDate]) VALUES (15, N'GRN-20260426-1002', 2, 1, CAST(N'2026-04-25 16:10:25.000' AS DateTime))
INSERT [dbo].[GoodsReceiptNotes] ([GRN_Id], [GRN_Code], [SupplierId], [UserId], [ReceivedDate]) VALUES (16, N'GRN-20260526-1003', 1, 1, CAST(N'2026-05-25 16:10:25.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GoodsReceiptNotes] OFF
SET IDENTITY_INSERT [dbo].[GRN_Details] ON 

INSERT [dbo].[GRN_Details] ([GRN_DetailId], [GRN_Id], [MaterialId], [Quantity], [UnitPrice]) VALUES (145, 14, 7, 150, CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[GRN_Details] ([GRN_DetailId], [GRN_Id], [MaterialId], [Quantity], [UnitPrice]) VALUES (146, 15, 7, 120, CAST(31000.00 AS Decimal(18, 2)))
INSERT [dbo].[GRN_Details] ([GRN_DetailId], [GRN_Id], [MaterialId], [Quantity], [UnitPrice]) VALUES (147, 16, 7, 200, CAST(66000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[GRN_Details] OFF
SET IDENTITY_INSERT [dbo].[MaintenanceReceipts] ON 

INSERT [dbo].[MaintenanceReceipts] ([ReceiptId], [MaterialId], [RequestId], [MaintenanceType], [PerformedDate], [Cost], [TechnicianName], [ResultStatus], [Notes]) VALUES (1, 17, 3, N'Sửa chữa báo hỏng', CAST(N'2026-06-22 16:05:29.000' AS DateTime), CAST(45000.00 AS Decimal(18, 2)), N'Nguyễn Văn A', N'Hoàn thành tốt', N'Đã thay thế bóng đèn ngủ hỏng bằng bóng đèn ngủ 9W mới.')
INSERT [dbo].[MaintenanceReceipts] ([ReceiptId], [MaterialId], [RequestId], [MaintenanceType], [PerformedDate], [Cost], [TechnicianName], [ResultStatus], [Notes]) VALUES (2, 18, 1, N'Sửa chữa báo hỏng', CAST(N'2026-07-04 21:29:08.327' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Nguyễn Văn Hải', N'Yêu cầu thay thế/Thanh lý', N'Sửa chữa theo yêu cầu báo hỏng tại vị trí: Phòng 418. Lỗi báo cáo: Đun không vào điện, cắm đế không lên đèn báo')
SET IDENTITY_INSERT [dbo].[MaintenanceReceipts] OFF
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] ON 

INSERT [dbo].[MaintenanceRequests] ([RequestId], [MaterialId], [Location], [Description], [Priority], [Status], [CreatedAt], [UserId]) VALUES (1, 18, N'Phòng 418', N'Đun không vào điện, cắm đế không lên đèn báo', N'Cao', N'Yêu cầu thanh lý', CAST(N'2026-06-23 16:05:29.000' AS DateTime), 1)
INSERT [dbo].[MaintenanceRequests] ([RequestId], [MaterialId], [Location], [Description], [Priority], [Status], [CreatedAt], [UserId]) VALUES (2, 21, N'Phòng 205', N'Màn hình chập chờn, phím bấm tăng giảm nhiệt độ kém nhạy', N'Trung bình', N'Đang sửa', CAST(N'2026-06-24 16:05:29.000' AS DateTime), 1)
INSERT [dbo].[MaintenanceRequests] ([RequestId], [MaterialId], [Location], [Description], [Priority], [Status], [CreatedAt], [UserId]) VALUES (3, 17, N'Hành lang tầng 3', N'Bóng nhấp nháy liên tục, gây khó chịu cho khách', N'Thấp', N'Đã hoàn thành', CAST(N'2026-06-21 16:05:29.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] OFF
SET IDENTITY_INSERT [dbo].[MaintenanceSchedules] ON 

INSERT [dbo].[MaintenanceSchedules] ([ScheduleId], [MaterialId], [Location], [LastMaintenanceDate], [NextMaintenanceDate], [CycleDays], [Notes]) VALUES (1, 18, N'Phòng 418', NULL, CAST(N'2026-07-10 16:05:29.000' AS DateTime), 90, N'Bảo trì định kỳ hệ thống bình đun nước các phòng VIP')
INSERT [dbo].[MaintenanceSchedules] ([ScheduleId], [MaterialId], [Location], [LastMaintenanceDate], [NextMaintenanceDate], [CycleDays], [Notes]) VALUES (2, 19, N'Khu Spa & Massage', CAST(N'2026-04-21 16:05:29.000' AS DateTime), CAST(N'2026-06-20 16:05:29.000' AS DateTime), 60, N'Vệ sinh màng lọc và kiểm tra dây nhiệt máy sấy')
SET IDENTITY_INSERT [dbo].[MaintenanceSchedules] OFF
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialId], [MaterialCode], [MaterialName], [Unit], [StockQuantity], [MinRequiredQuantity], [CategoryId], [IsActive]) VALUES (7, N'AME-SOAP', N'Xà bông cục nhỏ', N'Cục', 329, 100, 1, 1)
INSERT [dbo].[Materials] ([MaterialId], [MaterialCode], [MaterialName], [Unit], [StockQuantity], [MinRequiredQuantity], [CategoryId], [IsActive]) VALUES (8, N'AME-SHAM', N'Dầu gội chai nhỏ', N'Chai', 168, 100, 1, 1)
INSERT [dbo].[Materials] ([MaterialId], [MaterialCode], [MaterialName], [Unit], [StockQuantity], [MinRequiredQuantity], [CategoryId], [IsActive]) VALUES (9, N'AME-COND', N'Dầu xả chai nhỏ', N'Chai', 111, 80, 1, 1)
SET IDENTITY_INSERT [dbo].[Materials] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Nhân viên kho')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Nhân viên kỹ thuật')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Quản trị viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Stocktake_Details] ON 

INSERT [dbo].[Stocktake_Details] ([StocktakeDetailId], [StocktakeId], [MaterialId], [SystemQuantity], [ActualQuantity], [Discrepancy]) VALUES (4, 2, 7, 331, 329, -2)
INSERT [dbo].[Stocktake_Details] ([StocktakeDetailId], [StocktakeId], [MaterialId], [SystemQuantity], [ActualQuantity], [Discrepancy]) VALUES (5, 2, 12, 101, 102, 1)
INSERT [dbo].[Stocktake_Details] ([StocktakeDetailId], [StocktakeId], [MaterialId], [SystemQuantity], [ActualQuantity], [Discrepancy]) VALUES (6, 2, 17, 6, 3, -3)
SET IDENTITY_INSERT [dbo].[Stocktake_Details] OFF
SET IDENTITY_INSERT [dbo].[StocktakeNotes] ON 

INSERT [dbo].[StocktakeNotes] ([StocktakeId], [StocktakeCode], [UserId], [StocktakeDate], [Notes]) VALUES (2, N'STK-20260623-3001', 1, CAST(N'2026-06-23 16:10:26.000' AS DateTime), N'Kiểm kê định kỳ tháng 6')
SET IDENTITY_INSERT [dbo].[StocktakeNotes] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [Phone], [Address]) VALUES (1, N'Công ty TNHH Thiết bị Khách sạn Thuận Phát', N'0283999888', N'123 Nguyễn Trãi, Q.5, TP.HCM')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [Phone], [Address]) VALUES (2, N'Tổng kho Tổng hợp Đồng Nai', N'02513888999', N'Đường Đồng Khởi, Biên Hòa, Đồng Nai')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [Phone], [Address]) VALUES (3, N'Công ty Cổ phần Vải sợi Nam Định', N'02283888777', N'Trần Hưng Đạo, TP. Nam Định')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[System_Alerts] ON 

INSERT [dbo].[System_Alerts] ([AlertId], [MaterialId], [AlertType], [AlertMessage], [IsResolved], [CreatedAt]) VALUES (78, 17, N'LOW_STOCK', N'Vật tư [ELE-BULB] Bóng đèn LED 9W sắp hết! Hiện tại chỉ còn 3 Cái (Hạn mức tối thiểu: 4)', 0, CAST(N'2026-06-24 23:10:26.163' AS DateTime))
INSERT [dbo].[System_Alerts] ([AlertId], [MaterialId], [AlertType], [AlertMessage], [IsResolved], [CreatedAt]) VALUES (79, 19, N'LOW_STOCK', N'Vật tư [ELE-DRYER] Máy sấy tóc Panasonic sắp hết! Hiện tại chỉ còn 3 Cái (Hạn mức tối thiểu: 3)', 0, CAST(N'2026-06-24 23:10:26.163' AS DateTime))
INSERT [dbo].[System_Alerts] ([AlertId], [MaterialId], [AlertType], [AlertMessage], [IsResolved], [CreatedAt]) VALUES (80, 21, N'LOW_STOCK', N'Vật tư [ELE-ACRE] Remote điều hòa Daikin sắp hết! Hiện tại chỉ còn 2 Cái (Hạn mức tối thiểu: 2)', 0, CAST(N'2026-06-24 23:10:26.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[System_Alerts] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [RoleId], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'$2a$10$3.cx2sNSzCNeJLtKbjWYhOOqmgC0a15tarn7OuA/crtCoW/OX3yUK', N'Thúy Diễm', 1, 1, CAST(N'2026-06-24 00:23:20.810' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [RoleId], [IsActive], [CreatedAt]) VALUES (2, N'staff_kho', N'$2b$10$eFmXW23u.S9BvjM0l.9MpeL18YlC8kG1Hh3v4vXG9Xb5zM2Yw/S2q', N'Trần Thị Ngọt', 2, 1, CAST(N'2026-06-24 00:23:20.810' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [RoleId], [IsActive], [CreatedAt]) VALUES (3, N'tech_vien', N'$2a$10$O7EP13kWQmuQax.J9olipOvLvWNvXCEyXih4SUdmJG0EIapPKmoJ.', N'Nguyễn Văn Hải', 3, 1, CAST(N'2026-06-25 23:19:15.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Categori__8517B2E020A7B031]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Departme__D949CC346A5DE65C]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__GoodsDel__7164799FAC58CE1C]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[GoodsDeliveryNotes] ADD UNIQUE NONCLUSTERED 
(
	[GDN_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__GoodsRec__9AE65AD066A73F80]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[GoodsReceiptNotes] ADD UNIQUE NONCLUSTERED 
(
	[GRN_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Material__170C54BAFFB8FE0B]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[Materials] ADD UNIQUE NONCLUSTERED 
(
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Roles__8A2B61606D68ADFE]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Stocktak__66FC5709EC51009E]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[StocktakeNotes] ADD UNIQUE NONCLUSTERED 
(
	[StocktakeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E4A300F718]    Script Date: 7/11/2026 6:51:04 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GDN_Details]  WITH CHECK ADD  CONSTRAINT [FK_GDNDetails_GDN] FOREIGN KEY([GDN_Id])
REFERENCES [dbo].[GoodsDeliveryNotes] ([GDN_Id])
GO
ALTER TABLE [dbo].[GDN_Details] CHECK CONSTRAINT [FK_GDNDetails_GDN]
GO
ALTER TABLE [dbo].[GDN_Details]  WITH CHECK ADD  CONSTRAINT [FK_GDNDetails_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[GDN_Details] CHECK CONSTRAINT [FK_GDNDetails_Materials]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [FK_GDN_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [FK_GDN_Departments]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [FK_GDN_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [FK_GDN_Users]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [FK_GRN_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [FK_GRN_Suppliers]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [FK_GRN_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [FK_GRN_Users]
GO
ALTER TABLE [dbo].[GRN_Details]  WITH CHECK ADD  CONSTRAINT [FK_GRNDetails_GRN] FOREIGN KEY([GRN_Id])
REFERENCES [dbo].[GoodsReceiptNotes] ([GRN_Id])
GO
ALTER TABLE [dbo].[GRN_Details] CHECK CONSTRAINT [FK_GRNDetails_GRN]
GO
ALTER TABLE [dbo].[GRN_Details]  WITH CHECK ADD  CONSTRAINT [FK_GRNDetails_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[GRN_Details] CHECK CONSTRAINT [FK_GRNDetails_Materials]
GO
ALTER TABLE [dbo].[MaintenanceReceipts]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceReceipts_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[MaintenanceReceipts] CHECK CONSTRAINT [FK_MaintenanceReceipts_Materials]
GO
ALTER TABLE [dbo].[MaintenanceReceipts]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceReceipts_Requests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[MaintenanceRequests] ([RequestId])
GO
ALTER TABLE [dbo].[MaintenanceReceipts] CHECK CONSTRAINT [FK_MaintenanceReceipts_Requests]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Materials]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Users]
GO
ALTER TABLE [dbo].[MaintenanceSchedules]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceSchedules_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[MaintenanceSchedules] CHECK CONSTRAINT [FK_MaintenanceSchedules_Materials]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Categories]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [FK_StocktakeDetails_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [FK_StocktakeDetails_Materials]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [FK_StocktakeDetails_Notes] FOREIGN KEY([StocktakeId])
REFERENCES [dbo].[StocktakeNotes] ([StocktakeId])
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [FK_StocktakeDetails_Notes]
GO
ALTER TABLE [dbo].[StocktakeNotes]  WITH CHECK ADD  CONSTRAINT [FK_Stocktake_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StocktakeNotes] CHECK CONSTRAINT [FK_Stocktake_Users]
GO
ALTER TABLE [dbo].[System_Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[System_Alerts] CHECK CONSTRAINT [FK_Alerts_Materials]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[GDN_Details]  WITH CHECK ADD  CONSTRAINT [CHK_GDNDetails_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[GDN_Details] CHECK CONSTRAINT [CHK_GDNDetails_Qty]
GO
ALTER TABLE [dbo].[GRN_Details]  WITH CHECK ADD  CONSTRAINT [CHK_GRNDetails_Price] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[GRN_Details] CHECK CONSTRAINT [CHK_GRNDetails_Price]
GO
ALTER TABLE [dbo].[GRN_Details]  WITH CHECK ADD  CONSTRAINT [CHK_GRNDetails_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[GRN_Details] CHECK CONSTRAINT [CHK_GRNDetails_Qty]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [CHK_Materials_MinQty] CHECK  (([MinRequiredQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [CHK_Materials_MinQty]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [CHK_Materials_Stock] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [CHK_Materials_Stock]
GO
/****** Object:  StoredProcedure [dbo].[sp_AI_DetectLowStock]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AI_DetectLowStock]
AS
BEGIN
    SET NOCOUNT ON;

    -- Quét toàn bộ hệ thống phát hiện vật tư chạm hoặc dưới hạn mức tồn tối thiểu nguy hiểm
    INSERT INTO System_Alerts (MaterialId, AlertType, AlertMessage)
    SELECT 
        MaterialId, 
        'LOW_STOCK', 
        N'Vật tư [' + MaterialCode + '] ' + MaterialName + N' sắp hết! Hiện tại chỉ còn ' + CAST(StockQuantity AS NVARCHAR(10)) + ' ' + Unit + N' (Hạn mức tối thiểu: ' + CAST(MinRequiredQuantity AS NVARCHAR(10)) + ')'
    FROM Materials
    WHERE StockQuantity <= MinRequiredQuantity 
      AND IsActive = 1
      AND MaterialId NOT IN (SELECT MaterialId FROM System_Alerts WHERE IsResolved = 0 AND AlertType = 'LOW_STOCK');

    -- Trả danh sách cảnh báo chưa xử lý phục vụ Websocket Backend đẩy thông báo Real-time lên Dashboard
    SELECT A.AlertId, A.MaterialId, M.MaterialCode, A.AlertMessage, A.CreatedAt
    FROM System_Alerts A
    INNER JOIN Materials M ON A.MaterialId = M.MaterialId
    WHERE A.IsResolved = 0 AND A.AlertType = 'LOW_STOCK';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AI_GetStagnantMaterials]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AI_GetStagnantMaterials]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra vật tư không phát sinh hoặc rất ít phát sinh xuất kho (GDN_Details) trong vòng 90 ngày
    SELECT 
        M.MaterialId,
        M.MaterialCode,
        M.MaterialName,
        M.StockQuantity,
        M.Unit,
        ISNULL(SumOut.Qty, 0) AS TotalExportedLast90Days
    FROM Materials M
    LEFT JOIN (
        SELECT D.MaterialId, SUM(D.Quantity) AS Qty
        FROM GDN_Details D
        INNER JOIN GoodsDeliveryNotes G ON D.GDN_Id = G.GDN_Id
        WHERE G.DeliveryDate >= DATEADD(DAY, -90, GETDATE())
        GROUP BY D.MaterialId
    ) SumOut ON M.MaterialId = SumOut.MaterialId
    WHERE M.IsActive = 1 
      AND M.StockQuantity > 0 -- Có giữ lượng hàng tồn trong kho
      AND ISNULL(SumOut.Qty, 0) <= (M.StockQuantity * 0.05) -- Lượng tiêu thụ 90 ngày nhỏ hơn hoặc bằng 5% lượng tồn đọng hiện tại
    ORDER BY M.StockQuantity DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Delete]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_Delete]
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Materials WHERE CategoryId = @CategoryId AND IsActive = 1)
    BEGIN
        RAISERROR('Không thể xóa loại vật tư này do đang ràng buộc dữ liệu danh mục hàng hóa.', 16, 1);
        RETURN;
    END;
    
    UPDATE Categories SET IsDeleted = 1 WHERE CategoryId = @CategoryId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Insert]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_Insert]
    @CategoryName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Categories WHERE CategoryName = @CategoryName AND IsDeleted = 0)
    BEGIN
        RAISERROR('5001', 16, 1); -- Tên loại vật tư đã tồn tại
        RETURN;
    END;
    
    INSERT INTO Categories (CategoryName) VALUES (@CategoryName);
    SELECT SCOPE_IDENTITY() AS NewCategoryId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Search]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      CREATE PROCEDURE [dbo].[sp_Category_Search]
          @Keyword NVARCHAR(100)
      AS
      BEGIN
          SET NOCOUNT ON;
          SELECT CategoryId, CategoryName 
          FROM Categories 
          WHERE LOWER(CategoryName) LIKE N'%' + LOWER(@Keyword) + '%' AND IsDeleted = 0
      END;
    
GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Update]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_Update]
    @CategoryId INT,
    @CategoryName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Categories SET CategoryName = @CategoryName WHERE CategoryId = @CategoryId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GDN_Create]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GDN_Create]
    @GDN_Code VARCHAR(50),
    @DepartmentId INT,
    @UserId INT,
    @Reason NVARCHAR(255),
    @Details Type_GDN_Detail_List READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Bước 2: Kiểm tra điều kiện tồn kho thực tế trước khi xuất hàng
        IF EXISTS (
            SELECT 1 
            FROM @Details D
            INNER JOIN Materials M ON D.MaterialId = M.MaterialId
            WHERE M.StockQuantity < D.Quantity
        )
        BEGIN
            RAISERROR('Không đủ số lượng hàng tồn kho phục vụ cho yêu cầu xuất!', 16, 1);
            RETURN;
        END;

        -- Tạo Master Phiếu xuất kho
        INSERT INTO GoodsDeliveryNotes (GDN_Code, DepartmentId, UserId, DeliveryDate, Reason)
        VALUES (@GDN_Code, @DepartmentId, @UserId, GETDATE(), @Reason);

        DECLARE @GDN_Id INT = SCOPE_IDENTITY();

        -- Thêm vào cấu trúc chi tiết phiếu xuất
        INSERT INTO GDN_Details (GDN_Id, MaterialId, Quantity)
        SELECT @GDN_Id, MaterialId, Quantity FROM @Details;

        -- Tự động trừ số lượng tồn trong danh mục bảng hàng hóa
        UPDATE M
        SET M.StockQuantity = M.StockQuantity - D.Quantity
        FROM Materials M
        INNER JOIN @Details D ON M.MaterialId = D.MaterialId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GDN_GetDetail]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GDN_GetDetail]
    @GDN_Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        G.GDN_Id, G.GDN_Code, G.DeliveryDate, G.Reason,
        DP.DepartmentName, U.FullName AS StaffName,
        D.MaterialId, M.MaterialCode, M.MaterialName, M.Unit, D.Quantity
    FROM GoodsDeliveryNotes G
    INNER JOIN Departments DP ON G.DepartmentId = DP.DepartmentId
    INNER JOIN Users U ON G.UserId = U.UserId
    INNER JOIN GDN_Details D ON G.GDN_Id = D.GDN_Id
    INNER JOIN Materials M ON D.MaterialId = M.MaterialId
    WHERE G.GDN_Id = @GDN_Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GRN_Create]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GRN_Create]
    @GRN_Code VARCHAR(50),
    @SupplierId INT,
    @UserId INT,
    @Details Type_GRN_Detail_List READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Khởi tạo Master Phiếu nhập
        INSERT INTO GoodsReceiptNotes (GRN_Code, SupplierId, UserId, ReceivedDate)
        VALUES (@GRN_Code, @SupplierId, @UserId, GETDATE());

        DECLARE @GRN_Id INT = SCOPE_IDENTITY();

        -- Đổ danh sách mảng TVP vào bảng chi tiết
        INSERT INTO GRN_Details (GRN_Id, MaterialId, Quantity, UnitPrice)
        SELECT @GRN_Id, MaterialId, Quantity, UnitPrice FROM @Details;

        -- Vòng lặp cập nhật cộng dồn tồn kho trong bảng Vật Tư
        UPDATE M
        SET M.StockQuantity = M.StockQuantity + D.Quantity
        FROM Materials M
        INNER JOIN @Details D ON M.MaterialId = D.MaterialId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GRN_GetDetail]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GRN_GetDetail]
    @GRN_Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        G.GRN_Id, G.GRN_Code, G.ReceivedDate,
        S.SupplierName, U.FullName AS StaffName,
        D.MaterialId, M.MaterialCode, M.MaterialName, M.Unit,
        D.Quantity, D.UnitPrice, (D.Quantity * D.UnitPrice) AS TotalPrice
    FROM GoodsReceiptNotes G
    INNER JOIN Suppliers S ON G.SupplierId = S.SupplierId
    INNER JOIN Users U ON G.UserId = U.UserId
    INNER JOIN GRN_Details D ON G.GRN_Id = D.GRN_Id
    INNER JOIN Materials M ON D.MaterialId = M.MaterialId
    WHERE G.GRN_Id = @GRN_Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Material_Delete]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Material_Delete]
    @MaterialId INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM GRN_Details WHERE MaterialId = @MaterialId) OR EXISTS (SELECT 1 FROM GDN_Details WHERE MaterialId = @MaterialId)
    BEGIN
        -- Đã có lịch sử nhập xuất, chuyển trạng thái IsActive = 0
        UPDATE Materials SET IsActive = 0 WHERE MaterialId = @MaterialId;
    END;
    ELSE
    BEGIN
        -- Chưa từng phát sinh chứng từ, thực hiện xóa vật lý
        DELETE FROM Materials WHERE MaterialId = @MaterialId;
    END;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Material_GetList]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      CREATE PROCEDURE [dbo].[sp_Material_GetList]
          @CategoryId INT = NULL,
          @IsActive BIT = NULL,
          @Keyword NVARCHAR(100) = NULL,
          @PageNumber INT = 1,
          @PageSize INT = 20
      AS
      BEGIN
          SET NOCOUNT ON;
          SELECT M.MaterialId, M.MaterialCode, M.MaterialName, M.Unit, M.StockQuantity, M.MinRequiredQuantity, C.CategoryName, M.IsActive
          FROM Materials M
          INNER JOIN Categories C ON M.CategoryId = C.CategoryId
          WHERE (@CategoryId IS NULL OR M.CategoryId = @CategoryId)
            AND (@IsActive IS NULL OR M.IsActive = @IsActive)
            AND (@Keyword IS NULL OR LOWER(M.MaterialName) LIKE N'%' + LOWER(@Keyword) + '%' OR LOWER(M.MaterialCode) LIKE '%' + LOWER(@Keyword) + '%')
          ORDER BY M.MaterialCode
          OFFSET (@PageNumber - 1) * @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
      END;
    
GO
/****** Object:  StoredProcedure [dbo].[sp_Material_GetStockBalance]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Material_GetStockBalance]
    @MaterialId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MaterialId, MaterialCode, MaterialName, StockQuantity, Unit
    FROM Materials
    WHERE (@MaterialId IS NULL OR MaterialId = @MaterialId) AND IsActive = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Material_Insert]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Material_Insert]
    @MaterialCode VARCHAR(50),
    @MaterialName NVARCHAR(150),
    @Unit NVARCHAR(30),
    @MinRequiredQuantity INT,
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Materials (MaterialCode, MaterialName, Unit, StockQuantity, MinRequiredQuantity, CategoryId)
    VALUES (@MaterialCode, @MaterialName, @Unit, 0, @MinRequiredQuantity, @CategoryId);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Material_Update]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Material_Update]
    @MaterialId INT,
    @MaterialName NVARCHAR(150),
    @Unit NVARCHAR(30),
    @MinRequiredQuantity INT,
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Materials 
    SET MaterialName = @MaterialName, Unit = @Unit, MinRequiredQuantity = @MinRequiredQuantity, CategoryId = @CategoryId
    WHERE MaterialId = @MaterialId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Report_GetTopMovingMaterials]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Report_GetTopMovingMaterials]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 10 
        M.MaterialId,
        M.MaterialCode,
        M.MaterialName,
        SUM(D.Quantity) AS TotalConsumed
    FROM GDN_Details D
    INNER JOIN Materials M ON D.MaterialId = M.MaterialId
    GROUP BY M.MaterialId, M.MaterialCode, M.MaterialName
    ORDER BY TotalConsumed DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Report_GetTraffic]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Report_GetTraffic]
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Thống kê tổng số lượng nhập/xuất theo chuỗi thời gian ngày
    SELECT 
        ISNULL(InLog.LogDate, OutLog.LogDate) AS TrafficDate,
        ISNULL(InLog.TotalImport, 0) AS TotalImport,
        ISNULL(OutLog.TotalExport, 0) AS TotalExport
    FROM (
        SELECT CAST(G.ReceivedDate AS DATE) AS LogDate, SUM(D.Quantity) AS TotalImport
        FROM GoodsReceiptNotes G
        INNER JOIN GRN_Details D ON G.GRN_Id = D.GRN_Id
        WHERE G.ReceivedDate BETWEEN @FromDate AND @ToDate
        GROUP BY CAST(G.ReceivedDate AS DATE)
    ) InLog
    FULL OUTER JOIN (
        SELECT CAST(G.DeliveryDate AS DATE) AS LogDate, SUM(D.Quantity) AS TotalExport
        FROM GoodsDeliveryNotes G
        INNER JOIN GDN_Details D ON G.GDN_Id = D.GDN_Id
        WHERE G.DeliveryDate BETWEEN @FromDate AND @ToDate
        GROUP BY CAST(G.DeliveryDate AS DATE)
    ) OutLog ON InLog.LogDate = OutLog.LogDate
    ORDER BY TrafficDate
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Stock_GetInventoryReport]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Stock_GetInventoryReport]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MaterialId, MaterialCode, MaterialName, Unit, StockQuantity 
    FROM Materials 
    WHERE IsActive = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Stocktake_Create]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Stocktake_Create]
    @Stocktake_Code VARCHAR(50),
    @UserId INT,
    @Notes NVARCHAR(255),
    @MaterialId INT,
    @ActualQuantity INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @SystemQuantity INT;
        SELECT @SystemQuantity = StockQuantity FROM Materials WHERE MaterialId = @MaterialId;

        DECLARE @Discrepancy INT = @ActualQuantity - @SystemQuantity;

        -- Tạo phiếu kiểm kê
        INSERT INTO StocktakeNotes (StocktakeCode, UserId, StocktakeDate, Notes)
        VALUES (@Stocktake_Code, @UserId, GETDATE(), @Notes);

        DECLARE @StocktakeId INT = SCOPE_IDENTITY();

        -- Ghi log chi tiết chênh lệch dữ liệu đếm thực tế
        INSERT INTO Stocktake_Details(StocktakeId, MaterialId, SystemQuantity, ActualQuantity, Discrepancy)
        VALUES (@StocktakeId, @MaterialId, @SystemQuantity, @ActualQuantity, @Discrepancy);

        -- Cân bằng đồng bộ lại số lượng tồn kho theo số liệu thực tế ngoài kho
        UPDATE Materials 
        SET StockQuantity = @ActualQuantity 
        WHERE MaterialId = @MaterialId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_User_ChangePassword]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_User_ChangePassword]
    @UserId INT,
    @NewPasswordHash VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users 
    SET PasswordHash = @NewPasswordHash 
    WHERE UserId = @UserId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Login]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_Login]
    @Username VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserId, Username, PasswordHash, FullName, RoleId, IsActive 
    FROM Users 
    WHERE Username = @Username AND IsActive = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_User_UpdateRole]    Script Date: 7/11/2026 6:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_User_UpdateRole]
    @UserId INT,
    @RoleId INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users SET RoleId = @RoleId WHERE UserId = @UserId;
END;

GO
USE [master]
GO
